<a href="https://colab.research.google.com/github/felixzhao/title_catgories_classification/blob/main/Job_title_classification_V2.2_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this work, 
I need to encoding the title and feature.

1. encoding title which without preprocess
2. encoding title feature which has been processed, need to remove duplidate

# install dependency

In [27]:
! pip install sentence-transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sentence-transformers in /usr/local/lib/python3.9/dist-packages (2.2.2)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (0.1.97)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (1.22.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (1.2.1)
Requirement already satisfied: torchvision in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (0.14.1+cu116)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (4.65.0)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (4.26.1)
Requirement already satisfied: huggingface-hub>=0.4.0 in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (0.13.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (3.7)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (1.13.1+cu116)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (1.10.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (6.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (23.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.25.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.5.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.9.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.13.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk->sentence-transformers) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk->sentence-transformers) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.9/dist-packages (from torchvision->sentence-transformers) (8.4.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.26.14)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.10)

# install dependency

In [28]:
import numpy as np
import pandas as pd
from nltk import word_tokenize
from nltk.corpus import stopwords
import string
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

In [29]:
# need to install stopwords and some other package by following code
# input "d" to download view, then input package name to start package download
import nltk
nltk.download("stopwords")
nltk.download("punkt")
nltk.download("wordnet")
nltk.download("omw-1.4")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [30]:
from sentence_transformers import SentenceTransformer, util

# load data

load data
This work loads data from google drive. Please put the files into "trademe_data" folder under the root of google drive.

Then run the following code to mount the google drive in colab.

You can follow the guide. https://towardsdatascience.com/different-ways-to-connect-google-drive-to-a-google-colab-notebook-pt-1-de03433d2f7a

In [31]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
root_path = "drive/MyDrive/trademe_data/"

In [33]:
raw_df = pd.read_csv(f"{root_path}raw.csv")
print(len(raw_df))
raw_df.head(1)

20000

,Unnamed: 0,x_title,y_cat_id,cat_1,cat_2,cat_3,x_title_feature,cats
0,0,unqualified asbestos remover,5192,trades & services,labourers,labourers,unqualified asbestos remover,trades & services-labourers-labourers

# functions

In [34]:
model = SentenceTransformer("all-MiniLM-L6-v2")

In [35]:
def get_embedding(text):
    if not text:
        print("Content is empty.")
        return None
    return model.encode(input, convert_to_tensor=True)

# Preprocess

In [36]:
raw_title_encoding_path =f"{root_path}raw_title_encoding.csv"
raw_title_feature_encoding_path =f"{root_path}raw_title_feature_encoding.csv"

# Title encoding

In [37]:
title_raw = raw_df.copy()[['x_title','y_cat_id','cat_1','cat_2','cat_3','cats']]
title_raw.head(2)

,x_title,y_cat_id,cat_1,cat_2,cat_3,cats
0,unqualified asbestos remover,5192,trades & services,labourers,labourers,trades & services-labourers-labourers
1,senior test analyst,5123,it,testing,testing,it-testing-testing

In [38]:
title_raw['ecoder_title'] = title_raw['x_title'].apply(lambda x: model.encode(x, convert_to_tensor=True))

In [50]:
print(len(title_raw))
title_raw.head(2)

20000

,x_title,y_cat_id,cat_1,cat_2,cat_3,cats,ecoder_title
0,unqualified asbestos remover,5192,trades & services,labourers,labourers,trades & services-labourers-labourers,"[tensor(-0.0663), tensor(0.0821), tensor(0.047..."
1,senior test analyst,5123,it,testing,testing,it-testing-testing,"[tensor(-0.0241), tensor(0.0556), tensor(-0.10..."

In [51]:
title_raw.to_csv(raw_title_encoding_path)

# Title Feature Encoding

In [42]:
title_feature_raw = raw_df.copy()[['x_title_feature','y_cat_id','cat_1','cat_2','cat_3','cats']]
print(len(title_feature_raw))
title_feature_raw.head(2)

20000

,x_title_feature,y_cat_id,cat_1,cat_2,cat_3,cats
0,unqualified asbestos remover,5192,trades & services,labourers,labourers,trades & services-labourers-labourers
1,senior test analyst,5123,it,testing,testing,it-testing-testing

In [43]:
title_feature_raw[title_feature_raw.duplicated()]

,x_title_feature,y_cat_id,cat_1,cat_2,cat_3,cats
72,support worker,5085,healthcare,community & social services,community & social services,healthcare-community & social services-communi...
94,chef,5100,hospitality & tourism,chefs,chefs,hospitality & tourism-chefs-chefs
160,labourer,5192,trades & services,labourers,labourers,trades & services-labourers-labourers
161,office administrator,5156,office & administration,administration,administration,office & administration-administration-adminis...
175,chef,5100,hospitality & tourism,chefs,chefs,hospitality & tourism-chefs-chefs
...,...,...,...,...,...,...
19983,labourers,5192,trades & services,labourers,labourers,trades & services-labourers-labourers
19985,frame truss fabricators,5186,trades & services,building & carpentry,building & carpentry,trades & services-building & carpentry-buildin...
19991,retail store manager,5176,retail,store managers,store managers,retail-store managers-store managers
19992,clinical psychologist,5094,healthcare,psychology & counselling,psychology & counselling,healthcare-psychology & counselling-psychology...
19997,civil site engineer,5058,engineering,civil & structural,civil & structural,engineering-civil & structural-civil & structural

In [44]:
title_feature_raw = title_feature_raw.drop_duplicates()
print(len(title_feature_raw))

15205

In [45]:
title_feature_raw['ecoder_title_feature'] = title_feature_raw['x_title_feature'].apply(lambda x: model.encode(str(x), convert_to_tensor=True))

In [48]:
print(len(title_feature_raw))
title_feature_raw.head(2)

15205

,x_title_feature,y_cat_id,cat_1,cat_2,cat_3,cats,ecoder_title_feature
0,unqualified asbestos remover,5192,trades & services,labourers,labourers,trades & services-labourers-labourers,"[tensor(-0.0663), tensor(0.0821), tensor(0.047..."
1,senior test analyst,5123,it,testing,testing,it-testing-testing,"[tensor(-0.0241), tensor(0.0556), tensor(-0.10..."

In [49]:
title_feature_raw.to_csv(raw_title_feature_encoding_path)