<a href="https://colab.research.google.com/github/felixzhao/title_catgories_classification/blob/main/JTC_v1_2_category_hierarchy_preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# load packages

In [7]:
import pandas as pd
import json
import pickle

load data
This work loads data from google drive. Please put the files into "trademe_data" folder under the root of google drive.

Then run the following code to mount the google drive in colab.

You can follow the guide. https://towardsdatascience.com/different-ways-to-connect-google-drive-to-a-google-colab-notebook-pt-1-de03433d2f7a

In [2]:
from google.colab import drive
drive.mount('/content/drive')
root_path = "drive/MyDrive/trademe_data/"

Mounted at /content/drive

# load  data

In [3]:
cat_raw = pd.read_csv(f"{root_path}categories.csv")
cat_raw.head(1)

   y_cat_id                   cat_1            cat_2            cat_3
0      4957  construction & roading  health & safety  health & safety

# get level 3 hierarchy

In [5]:
c3_dict = {}

c3_grouped = cat_raw.groupby(['cat_2', 'cat_1'])

for name, group in c3_grouped:
    # print(name)
    # print(group)
    # if len(group) > 1:
    #     print(name[0])
    #     print(group.cat_3.to_list())
    if len(group) > 1:
        c3_dict[name[0]] = group.cat_3.to_list()

c3_dict

{'accountants': ['business advisory services',
  'assistant accountants',
  'audit',
  'financial accounting & reporting',
  'general / ca',
  'management accountants',
  'tax'],
 'drivers & couriers': ['couriers', 'truck ht'],
 'nursing & midwifery': ['community & primary care',
  'critical care & emergency',
  'medical',
  'mental health',
  'paediatrics',
  'surgical',
  'theatre & recovery',
  'womenâ€™s health']}

In [6]:
c1_dict = {}

c1_grouped = cat_raw.groupby(['cat_2', 'cat_3'])

for name, group in c1_grouped:
    if len(group) > 1:
        c1_dict[name[0]] = group.cat_1.to_list()

c1_dict

{'administration': ['healthcare', 'office & administration'],
 'analysts': ['banking, finance & insurance', 'accounting'],
 'architects': ['architecture', 'it'],
 'drafting': ['architecture', 'engineering'],
 'electrical': ['engineering', 'trades & services'],
 'health & safety': ['construction & roading', 'hr & recruitment'],
 'management': ['automotive',
  'accounting',
  'banking, finance & insurance',
  'customer service',
  'engineering',
  'transport & logistics',
  'healthcare',
  'hospitality & tourism',
  'it',
  'manufacturing & operations',
  'marketing, media & communications',
  'retail'],
 'project management': ['engineering', 'it'],
 'security': ['trades & services', 'it'],
 'supervisors & forepersons': ['construction & roading',
  'manufacturing & operations']}

# Save to file

In [9]:
def write_to_file(file_name, dict_to_save):
    with open(file_name, "w") as file:
        json.dump(dict_to_save, file, indent=4)

In [10]:
write_to_file(f"{root_path}c3_dict.json", c3_dict)

In [11]:
write_to_file(f"{root_path}c1_dict.json", c1_dict)